.container-cadastrar-reserva {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.header-cadastrar-reserva {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.container-cadastrar-reserva h1,
.container-cadastrar-reserva .data {
    font-size: 19pt;
    font-weight: 100;
    color: var(--main-color);
    margin-bottom: -10px;
    margin-top: 50px;
}

.container-cadastrar-reserva h2 {
    font-weight: 400;
    font-size: 13pt;
    color: var(--main-color);
    margin-top: 25px;
}

.table-cadastrar-reserva {
    width: 70%;
    border-collapse: collapse;
    margin: auto auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-cadastrar-reserva th,
.table-cadastrar-reserva td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-cadastrar-reserva th {
    background-color: rgba(27, 82, 29, 0.1);
    font-size: 10pt;
    font-weight: 400;
    color: var(--main-color);
}

.table-cadastrar-reserva td {
    font-size: 9pt;
    font-weight: 400;
    color: var(--main-color);
}

.col-horario {
    width: 20%;
}

.col-nome {
    width: 50%;
}

.reservado {
    background-color: #dff0d8;
}

.button-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 70%;
    margin: 20px auto;
}

.voltar-link a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 12pt;
    font-weight: 400;
    padding: 5px 10px;
}

.voltar-link a:hover {
    text-decoration: underline;
}

.button-cadastrar-reserva {
    background-color: #35591E;
    color: white;
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-cadastrar-reserva:hover {
    background-color: darkgreen;
}

.checkbox-cell {
    text-align: center;
    width: 5%;
    vertical-align: middle;
    padding: 0;
}

.checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tooltip-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

  
.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
  